# Visual Studio
.vs/
out/
build/
bin/
obj/
*.user
*.aps
*.bak
*.pdb
*.suo
*.idb
*.ncb
*.sdf
*.opensdf
*.vc.db
*.sln.docwidgets

# Compiled binaries
*.exe
*.dll
*.lib
*.exp

# Generated Proxy Files (avoid polluting the source repo with example outputs)
DllProxyGenerator/*.def
DllProxyGenerator/*.cpp
DllProxyGenerator/*.asm
DllProxyGenerator/CMakeLists.txt